@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-primary-black: black;
    --color-font-white: white;
    --color-neutral-greenish: #C4F82A;
    --color-font-lightGrey: rgb(55, 55, 55);
    --color-card-darkGrey: #1F1F1F;
    --color-card-lightGrey: #333333;
}

* {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

svg, img, picture {
    display: block;
    max-width: 100%;
}

.debug {
    border: 2px solid red;
}
/* End of Reset */
body {
    font-family: "Inter", sans-serif;
    background-color: var(--color-primary-black);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-card-darkGrey);
    justify-content: center;
    align-items: center;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 0px;
    border-radius: 10px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile img{
    border-radius: 50%;
    max-width: 100px;
}

.profile h2 {
    padding: 1em 0px 0.4em 0px;
    color: var(--color-font-white);
}

.profile h4 {
    padding-bottom: 15px;
    color: var(--color-neutral-greenish);
}

.profile p {
    padding-bottom: 15px;
    color: var(--color-font-white);
}

.profile-links {
    width: 330px;
    text-align: center;
}

.profile-links p {
    padding: 10px 0px;
    margin: 15px 0px;
    background-color: var(--color-card-lightGrey);
    border-radius: 5px;
    font-weight: bold;
    color: var(--color-font-white);
}

.profile-links p:hover {
    cursor: pointer;
    background-color: var(--color-neutral-greenish);
    color: black;
}

@media screen and (max-width: 420px){
    .container {
        width: 80vw;
    }

    .profile {
        text-align: center;
    }

    .profile h2{
        font-size: 22px;
    }

    .profile h4{
        font-size: 14px;
    }

    .profile p{
        font-size: 14px;
        text-align: center;
    }

    .profile-links {
        width: 70vw;
    }

    .profile-links p{
        font-size: 14px;
    }
}